/* index.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  
  background: linear-gradient(135deg, #d1c4e9, #b39ddb, #8c9eff, #8c99e6, #8998ee);
  background-size: 300% 300%;
  animation: backgroundAnimation 7s ease infinite;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 1.5em;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 10px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}
@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

main {
  flex: 1;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
}

footer {
  background: transparent;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 600px) {

  footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  footer a {
    margin: 10px;
  }
}